.head{
    text-align:center;
    font-size:30px;
    background-color:#98fb98;
    color: #1e90ff;

}
.head h2{
    padding:50px;
}
.form{
    margin-bottom:10px;
}
.navbar{
    background-color:#0bda51;
    position:relative;
    bottom:37px;
    text-align: center;
    padding:2px;

}
.navbar li a {
    text-decoration:none;
    color:#0000ff;
    font-size:17px;

}
.navbar a:hover{
    color:brown;
}
.navbar li {
    display:inline;
    list-style:none;
    margin-right:50px;
}

.lastpart a{
    text-decoration:none;
    color: #1e90ff;
    font-size:20px;

}
.lastpart{
    
    
    padding: 30px;
    background-color:#98fb98;
    display:flex;
    position:relative;
    top:100px;
    


    
}
.lastpart1 h2{

font-size:20px;
position: relative;
color: #1e90ff;


}
.lastpart1{
    position:relative;
    

}
#sp{
    margin-right:20px;
}
.lastpart a:hover{
    color:
}


.lastpart2{
    position:relative;
    left:520px;
    top:10px;

}
.lastpart3{
    position:relative;
    top:70px;
    left: 400px;
    
}
.lastpart3 a img{
    margin-right:20px;
    
    
}
.lastpart4 h2{
    font-size:20px;
    color: #1e90ff;

}
.form2 button{
    background-color:#0000ff;
    color:lightskyblue;
   position:relative;
   font-size:25px;
   left:100px;
}
.lastpart4{
    position:relative;
    
    left:300px;
    top:10px;
}
.lastpart4 p{
    color: #1e90ff;
}
#abc{
    margin-top:10px;
}
#cba{
    margin-top:10px;
}
.lastpart2 h2{
    font-size:20px;
    color: #1e90ff;
}
